@model IOrderedEnumerable<CompanySystem.DAL.PageSectionEntity>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    
    <h2>PageSection</h2>

    <a asp-controller="PageSection" asp-action="Create">Add New Section</a>
   
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    OrderNumber
                </th>
                <th>
                    Action
                </th>

        </thead>
        <tbody>
            @foreach (var pc in Model)
            {
                <tr>

                
                    <td>@pc.Title</td>


                    <td>@pc.Description</td>



                    <td>@pc.OrderNumber</td>
                    <td>
                        @Html.ActionLink("Edit","Edit",new {Id=pc.Id})
                        @Html.ActionLink("Delete","Delete",new {Id=pc.Id}, new {onclick ="return confirm('Are you sure to delete ?');" })
                        </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>